# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IntelliJ
.idea
*.iml
*.idea

# python stuff
venv
__pycache__/
.eggs/
*.egg-info/
_dev_support/
*build/
*dist/
.coverage
Pipfile
Pipfile.lock
*.pyc
